html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/rezerve/images/img2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  text-align: center;
  width: 400px;
  padding: 40px;
  background-color: #f7f0f0;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #df6d0f;
}

input[type="tel"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button[type="submit"] {
  background-color: #df6d0f;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: underline;
  color: black;
}